/* Global variables */
:root {
  font-family: 'Helvetica';

  --clauto-orange: orange;
  --clauto-orange-light: rgb(255, 207, 118);

  --clauto-green: green;
  --clauto-green-light: lightgreen;

  --clauto-gray: gray;
  --clauto-gray-light: lightgray;

  --navbar-top-height: 50px;
  --navbar-left-width: 50px;
}

/* Formatting */
html, body{
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  color: var(--clauto-gray);
  margin: 10px;
}

.app {
  background-color: var(--clauto-orange-light);
  min-height: 100%;
  min-width: 100%;
}

.page-nonav {
  position: absolute;
  width: 100%;
  height: 100%;
}

.page-navved {
  position: absolute;
  left: 50px;
  top: 50px;
}

.panel {
  background-color: var(--clauto-orange);
  padding: 10px;
}

.hcenter {
  display: flex;
  justify-content: center;
}

.vcenter {
  display: flex;
  align-items: center;
}

/* UI */
.error {
  color: red;
}
.error-form {
  min-height: 20px;
}
.error-form-input {}
.error-form-submit {}

.text {
  background-color: white;
  border-color: var(--clauto-gray);
  border-width: 3px;
  border-style: solid;
  border-radius: 0px;
  padding: 2px;
  -webkit-appearance: none;
}
.text-invalid {
  border-color: red;
}
.text-correcting {
  border-color: yellow;
}
.text:focus {
  background-color: var(--clauto-green-light);
  outline: 0px;
}

.label {}
.label-input {
  font-weight: bold;
}

.button {
  background-color: var(--clauto-green);
  border-color: var(--clauto-gray);
  color: var(--clauto-gray-light);
  font-weight: bolder;
  padding: 10px 20px;
  border-style: solid;
  border-width: 3px;
  border-radius: 0;
  -webkit-appearance: none;
}
.button:hover {
  border-color: var(--clauto-gray-light);
}
.button:active {
  background-color: var(--clauto-green-light);
  color: var(--clauto-gray);
}
.button:focus {
  border-color: var(--clauto-gray-light);
  outline: 0px;
}
