/* Clauto branding conventions */
:root {
  --clauto-orange: orange;
  --clauto-green: greenyellow;
  --clauto-gray: gray;
}

/* UI conventions */
.error {
  color: red;
}
.error-form {}
.error-form-input {}
.error-form-submit {}

.text {}
.text-invalid {
  border-color: red;
}